table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    tr:hover{
        background-color: rgb(139, 138, 136);
        cursor: pointer;
        transition: 0.3s;
        color: #fff;
    }
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }